body {
    background-color: #000;
}

.cabecalho {
    background-color: #000000;
    display: flex;
}

.nav-item {
    color: white;
    gap: 10px;
}

.navbar-brand {
    color: #761bcc;
}

.btn {
    background-color: #761bcc;
}

.cards {
    background-color: #FFFFFF;
    padding-top: 50px;
    border: none;
}

.container {
    border-style: solid;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;

}

.card-body{
    padding-left: 50px;
    border: none;
}


.card-body {
    margin-top: 50px;
}

.card {
    border: none;
}

.cerd, p{
    font-size: 20px;
    font-style: italic;
}

.cssrodape{
    margin-top: 150px;
    border-style: inset;
    background-color:#000000;
    color:#fff;
    text-align:center;
    padding:20px 0;
    font-size:14px;
}